{{!i18n-resource}}
{{t-def "loading" key="i18n_loading"}}

<Layout>
  <div class="loading__container" data-test-loading>
    <HueWebProgressIndicator @size="xlarge" aria-label={{t "i18n_loading"}} />
  </div>
</Layout>